
<% 
filterStatusHelper = (statusFilter, keyword, linkPrefix) => {
    let xhtmlResult ='';
    statusFilter.forEach((items) => { 
        let link = linkPrefix + "status/" + items.value;
        if(keyword !== "" && keyword !== undefined) {
            link += "?keyword=" + keyword
        }
        xhtmlResult += ` <a href="${link}">
                            <button type="button" class="btn btn-info ${items.class}">
                                ${items.name.toUpperCase()} (<span>${items.count}</span>)
                            </button>
                        </a>`;
    })
    return xhtmlResult;
} 
%>
