
<% 
    sortListHelper = (linkPrefix, name, sortField, sortFieldCurrent, sortTypeCurrent, className = "") => {
        let sort = (sortTypeCurrent == 'asc') ? 'desc' : 'asc';
        let link = `${linkPrefix}sort/` + sortField + "/" + sort;
        let icon = `<i class="fas fa-sort"></i>`
        let iconSort = (sort == 'asc') ? 'down' : 'up';

        if(sortField == sortFieldCurrent){
            icon = `<i class="fas fa-sort-${iconSort}"></i>`
        }

        let xhtml = `<th class="text-center ${className}"><a href="${link}" style = 'color: rgba(3, 3, 3, 0.8);' >${name} ${icon}</a></th>`

        return xhtml;
    }
 
%>

