<div class="preloader flex-column justify-content-center align-items-center" style="color: #000;">
    <img class="animation__wobble" src="/img/logo/Kai_Store.jpg" alt="KhaiLogo" height="160" width="160">
</div>