<div id="top-bar" class="py-3 text-center bg-color-light">
    <div class="container clearfix">
        <div class="d-md-flex justify-content-md-between align-items-md-center">
            <h4 class="mb-2 mb-md-0 h6 fw-normal"><%= listSetting.location%><span class="mx-2 text-black-50">&middot;</span><%= listSetting.refund_time%></h4>

            <h4 class="mb-0 h6 fw-normal"><%= listSetting.call_us%><a class="color" href="tel: 0328046671"><u class="fw-medium"><%= listSetting.phone%></u></a></h4>
        </div>
    </div>
</div>